%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title
      = yield(:title)
      | Get Beauty And Health
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/

    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{:href => "/assets/favicon.ico", :rel => "shortcut icon"}/
  %body{"data-spy" => "scroll", "data-target" => ".qc-sidenav"}
    .navbar.navbar-inverse{:role => "navigation", style: 'background: #9eba55;'}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => root_path, style: 'font-size:30px; margin-top: 10px;color:white' }
            %strong Get Beauty & Health
        .navbar-collapse.collapse
          .nav.navbar-nav.navbar-right
            %ul.nav.navbar-nav
              %li.dropdown
                %a.dropdown-toggle{'data-toggle' => "dropdown", href: "#"} Nutrition
                %ul.dropdown-menu
                  %li
                    %a{:href => "http://www.amway.com/DeepakChaudhari/Shop/Product/Category.aspx/Vitamins-Supplements"} Vitamins & Supplements
                  %li
                    %a{:href => "http://www.amway.com/DeepakChaudhari/Shop/Product/Category.aspx/Weight-Management"} Weight Management
                  %li
                    %a{:href => "http://www.amway.com/DeepakChaudhari/Shop/Product/Category.aspx/Sports-Nutrition"} Sport Nutrition
                  %li
                    %a{:href => "http://www.amway.com/DeepakChaudhari/Shop/Product/Category.aspx?_sort=Newest|D&dsnav=N:4294966625"} Energy Drinks
                  %li
                    %a{:href => "#"} Kid’s Special
              %li.dropdown
                %a.dropdown-toggle{'data-toggle' => "dropdown", href: "#"} Beauty
                %ul.dropdown-menu
                  %li
                    %a{:href => "http://www.amway.com/DeepakChaudhari/Shop/Product/Category.aspx/skincare"} Skin Care
                  %li
                    %a{:href => "http://www.amway.com/DeepakChaudhari/Shop/Product/Category.aspx/makeup"} Make up
                  %li
                    %a{:href => "http://www.amway.com/DeepakChaudhari/beauty/artistry/youth-xtend"} Youth Extend
              %li.dropdown
                %a.dropdown-toggle{'data-toggle' => "dropdown", href: "#"} Bath & Baby
                %ul.dropdown-menu
                  %li
                    %a{:href => "http://www.amway.com/DeepakChaudhari/Shop/Product/Category.aspx/Hair-Care"} Hair Care
                  %li
                    %a{:href => "http://www.amway.com/DeepakChaudhari/Shop/Product/Category.aspx/Body-Care"} Body Care
                  %li
                    %a{:href => "http://www.amway.com/DeepakChaudhari/Shop/Product/Category.aspx/Oral-Care"} Oral Care
              %li.dropdown
                %a.dropdown-toggle{'data-toggle' => "dropdown", href: "#"} At Home
                %ul.dropdown-menu
                  %li
                    %a{:href => "http://www.amway.com/DeepakChaudhari/Shop/Product/Category.aspx/Laundry"} Laundry
                  %li
                    %a{:href => "http://www.amway.com/DeepakChaudhari/Shop/Product/Category.aspx/Surface-Cleaners"} Surface Cleaner
                  %li
                    %a{:href => "http://www.amway.com/DeepakChaudhari/Shop/Product/Category.aspx/Dish-Detergent"} Dish Detergen
              %li.dropdown
                %a.dropdown-toggle{'data-toggle' => "dropdown", href: "#"} More Products
                %ul.dropdown-menu
                  %li
                    %a{:href => "http://www.amway.com/DeepakChaudhari/Shop/Product/Category.aspx/gift-cards-by-ribbon?_va=y&_sort=Item|A"} Gift Cards by Ribbon
                  %li
                    %a{:href => "http://www.amway.com/DeepakChaudhari/Shop/Product/Category.aspx/Jewelry-Accessories"} Jewelry & Accessories
                  %li
                    %a{:href => "http://www.amway.com/DeepakChaudhari/Shop/Product/Category.aspx/Fragrances"} Fragrances
                  %li
                    %a{:href => "http://www.amway.com/DeepakChaudhari/Shop/Product/Category.aspx/Food-Beverage"} Food & Beverages
              %li{class: "#{'active' if @menu == 'contact_us'}"}
                %a{:href => contact_us_path} Contact Us
    = yield 
    #footer
      .container
        %p.pull-right
          %a{:href => "#"} Back to top
        %p
          \© 2014 - 2015 Get Beauty And Health.
